.App {
  text-align: center;
  color: #FAFAFA;
}

.video {
  position: 'absolute';
  left: '0';
  top: '0';
  height: '100%';
  objectFit: 'cover';
  width: '100%';
  filter: 'brightness(40%)';
}

input {
    width: 100px;
    position: auto;
}

button {
    margin-right: 7px;
}

html, body { 
    display: flex;
    text-align: center;
    max-width:  390px;
    min-width: 300px;
    filter: brightness(90%);
    color: white;
}

.buyTokens {
    float: center;
}
.right {
    float: right;
}
.center {

    float: center;
}

.left {
    float: left;
}

#navigation {
    position:absolute;
    top:0;
    width:100%;
    left:0;
    background-color: black;
    min-width: 414px;
    max-height:  100px;
}
ul#navigationUL {
    list-style: none;
    padding:0;
}

ul#navigationUL li#navigationLI {
    float: left;
    width:10%;
    left: 10%;
    font-size: 10px;
    text-align: center;
}

nav#navigation ul#navigationUL li#navigationLI:last-child {
    border: none;
}

nav#navigation ul#navigationUL li#navigationLI a {
    text-decoration: none;
    color: white;
}

#subMenu {
    position:right;
    width:100%;
    left:0;
    background-color: black;
}

ul#subMenuUL {
    list-style: none;
    padding:0;
}

ul#subMenuUL li#subMenuLI {
    padding-top: 25px;
    padding-right: 10px;
    float: left;
    width:10%;
    left: 15%;
    font-size: 10px;
    text-align: center;
}

nav#subMenu ul#subMenuUL li#subMenuLI:last-child {
    border: none;
}

nav#subMenu ul#subMenuUL li#subMenuLI a {
    text-decoration: none;
    color: white;
}

ul#coreValuesUL {
    padding:0;
}

ul#coreValuesUL li#coreValuesIL {
    padding-top: 10px;
    width:80%;
    font-size: 10px;
    text-align: left;
}

ul #coreValuesUL li#coreValuesIL:last-child {
    border: none;
}

ul#coreValuesUL li#coreValuesIL {
    text-decoration: none;
    color: white;
}

