.App {
  text-align: center;
  color: #FAFAFA;
}

.video {
  background-color: rgba(0, 0, 0, 5);
  filter: brightness(80%);
  position: 'absolute';
  left: '0';
  top: '0';
  height: '100%';
  objectFit: 'cover';
  transform: 'translate(-50%,';
  zIndex: -1;
  width: '100%';
  filter: 'brightness(40%)';
}

input {
    width: 100px;
    position: auto;
}

button {
    margin-right: 7px;
}

html, body { 
    display: flex;
    padding-left: 50px;
    text-align: center;
    max-width:  850px;
    min-width: 750px;
}

.buyTokens {
    padding-left: 400px;
    float: center;
}
.right {
    float: right;
}
.center {
    padding-left: 200px;
    float: center;
}

.left {
    float: left;
    padding-right: 100px;
}

#navigation {
    position:absolute;
    top:0;
    width:100%;
    left:0;
    background-color: black;
    min-width: 750px;
    max-height:  100px;
}
ul#navigationUL {
    list-style: none;
    padding:0;
}

ul#navigationUL li#navigationLI {
    float: left;
    width:10%;
    left: 10%;
    font-size: 20px;
    text-align: center;
    /* border-width: 0 2px 0 0;
    border-color:white;
    border-style: solid; */
}

nav#navigation ul#navigationUL li#navigationLI:last-child {
    border: none;
}

nav#navigation ul#navigationUL li#navigationLI a {
    text-decoration: none;
    color: white;
}

#subMenu {
    position:right;
    width:100%;
    left:0;
    background-color: black;
}

ul#subMenuUL {
    list-style: none;
    padding:0;
}

ul#subMenuUL li#subMenuLI {
    padding-top: 25px;
    float: left;
    width:10%;
    left: 10%;
    font-size: 20px;
    text-align: center;
    /*border-width: 0 2px 0 0;
    border-color:white;
    border-style: solid;*/
}

nav#subMenu ul#subMenuUL li#subMenuLI:last-child {
    border: none;
}

nav#subMenu ul#subMenuUL li#subMenuLI a {
    text-decoration: none;
    color: white;
}

ul#coreValuesUL {
    padding:0;
}

ul#coreValuesUL li#coreValuesIL {
    padding-top: 10px;
    width:80%;
    font-size: 15px;
    text-align: left;
}

ul #coreValuesUL li#coreValuesIL:last-child {
    border: none;
}

ul#coreValuesUL li#coreValuesIL {
    text-decoration: none;
    color: white;
}

#belowHeader {
  height: 100%;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 25px;
}


@media only screen and (max-width:  414px) {
    .App {
     text-align: center;
     color: #FAFAFA;
    }

.video {
    background-color: rgba(0, 0, 0, 5);
    filter: brightness(80%);
    position: 'flex';
    left: '0';
    top: '0';
    height: 'auto';
    objectFit: 'cover';
    transform: 'translate(-50%,';
    zIndex: -1;
    width: 'auto';
    filter: 'brightness(40%)';
}

input {
    width: 100px;
    position: auto;
}

button {
    margin-right: 7px;
}

html, body { 
    display: flex;
    padding-left: 50px;
    text-align: center;
    max-width: 414px;
    min-width: 320px;
    max-height:  896px;
    background-color: rgba(0, 0, 0, 5);
    filter: brightness(80%);
}

.buyTokens {

    float: center;
}
.right {
    float: right;
}
.center {

    float: center;
}

.left {
    float: left;
}

#navigation {
    position:absolute;
    top:0;
    width:100%;
    left:0;
    background-color: black;
    min-width: 750px;
    max-height:  100px;
}
ul#navigationUL {
    list-style: none;
    padding:0;
}

ul#navigationUL li#navigationLI {
    float: left;
    width:10%;
    left: 10%;
    font-size: 20px;
    text-align: center;
    /* border-width: 0 2px 0 0;
    border-color:white;
    border-style: solid; */
}

nav#navigation ul#navigationUL li#navigationLI:last-child {
    border: none;
}

nav#navigation ul#navigationUL li#navigationLI a {
    text-decoration: none;
    color: white;
}

#subMenu {
    position:right;
    width:100%;
    left:0;
    background-color: black;
}

ul#subMenuUL {
    list-style: none;
    padding:0;
}

ul#subMenuUL li#subMenuLI {
    padding-top: 25px;
    float: left;
    width:10%;
    left: 10%;
    font-size: 20px;
    text-align: center;
    /*border-width: 0 2px 0 0;
    border-color:white;
    border-style: solid;*/
}

nav#subMenu ul#subMenuUL li#subMenuLI:last-child {
    border: none;
}

nav#subMenu ul#subMenuUL li#subMenuLI a {
    text-decoration: none;
    color: white;
}

ul#coreValuesUL {
    padding:0;
}

ul#coreValuesUL li#coreValuesIL {
    padding-top: 10px;
    width:80%;
    font-size: 15px;
    text-align: left;
}

ul #coreValuesUL li#coreValuesIL:last-child {
    border: none;
}

ul#coreValuesUL li#coreValuesIL {
    text-decoration: none;
    color: white;
}

#belowHeader {
  height: 100%;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 25px;
}

}
